.whatsappsWrap{margin-top: 30px;
    display: inline-flex;flex-direction: column;
}

.whatsappsWrap h2{
    text-transform: uppercase;
    color: #00AB44;
    margin-bottom: 10px;
}

.whatsappsWrap a{
    display: inline-block;
    margin-bottom: 10px;;
}